See [Colab Notebook](https://colab.research.google.com/drive/1Ou2lV4eNfwZvhX-f-JGA6RjldaonDRaH#scrollTo=HBpaAjpXyoMg)

In [1]:
from constants import DB_HOST, DB_PORT, DB_USER, DB_PASS, DB_NAME, OPENAI_API_KEY, OPENAI_LLM_MODEL

In [2]:
assert DB_HOST
assert DB_PORT
assert DB_USER
assert DB_PASS
assert DB_NAME
assert OPENAI_API_KEY
assert OPENAI_LLM_MODEL

In [3]:
from presentation_agent import test1

In [4]:
test1()

Presentation LLM initialized!
Summary for 'What were last month's top products?:
Last month, the top-selling products were Product A and Product B. Product A led the sales with 500 units sold, while Product B followed with 300 units sold.

To help visualize this information, we can use a bar chart. The chart displays the two products on the x-axis and the number of units sold on the y-axis. This makes it easy to compare the sales performance of each product at a glance.

Here's the code used to create the bar chart:

```python
import plotly.express as px
px.bar(x=['Product A', 'Product B'], y=[500, 300])
```

This chart will clearly show that Product A significantly outperformed Product B in sales last month.

In [5]:
import crew_orchestrator

Database connection established!
2025-04-12 11:31:15,329 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-04-12 11:31:15,329 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,331 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-04-12 11:31:15,331 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,332 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-04-12 11:31:15,333 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,335 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 11:31:15,336 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `finquery`
2025-04-12 11:31:15,336 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,357 INFO sqlalchemy.engine.Engine ROLLBACK
2025-04-12 11:31:15,359 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 11:31:15,360 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `finquery`
2025-04-12 11:31:15,360 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,375 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `accounting_transactions`
2025-04-12 11:31:15,376 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,379 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `financial_transactions`
2025-04-12 11:31:15,379 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,381 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `sales_data`
2025-04-12 11:31:15,382 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,386 INFO sqlalchemy.engine.Engine ROLLBACK
LangChain SQLDatabase initialized!
OpenAI LLM initialized!

In [6]:
from sql_agent import initialize_db_connection, get_sql_database, initialize_llm, create_agent as create_sql_agent, run_query

engine, session = initialize_db_connection()
db = get_sql_database(engine)
llm = initialize_llm()

Database connection established!
2025-04-12 11:31:15,485 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-04-12 11:31:15,486 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,489 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-04-12 11:31:15,490 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,492 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-04-12 11:31:15,493 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,497 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 11:31:15,499 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `finquery`
2025-04-12 11:31:15,502 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,534 INFO sqlalchemy.engine.Engine ROLLBACK
2025-04-12 11:31:15,539 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 11:31:15,542 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `finquery`
2025-04-12 11:31:15,543 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,548 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `accounting_transactions`
2025-04-12 11:31:15,550 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,570 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `financial_transactions`
2025-04-12 11:31:15,591 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,595 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `sales_data`
2025-04-12 11:31:15,597 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-12 11:31:15,616 INFO sqlalchemy.engine.Engine ROLLBACK
LangChain SQLDatabase initialized!
OpenAI LLM initialized!

In [20]:
test_query1 = "What were the top-selling products last month?"
test_query2 = "Plot a line chart of the monthly sales data."

In [21]:
agent = create_sql_agent(db, llm)

SQL Agent created successfully!

# test_query1
4 out of 5 executions returned errors due to the fact the LLM thinks the current date is in 2023

In [22]:
response = run_query(agent, test_query1)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  accounting_transactions, financial_transactions, sales_dataI need to check the schema of the `sales_data` table, as it is likely to contain information about products and their sales.
Action: sql_db_schema
Action Input: "sales_data"  2025-04-12 12:08:57,058 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:08:57,059 INFO sqlalchemy.engine.Engine SELECT sales_data.order_id, sales_data.product_id, sales_data.product_name, sales_data.category, sales_data.quantity, sales_data.unit_price, sales_data.total_price, sales_data.order_date
FROM sales_data
 LIMIT %(param_1)s
2025-04-12 12:08:57,059 INFO sqlalchemy.engine.Engine [cached since 2247s ago] {'param_1': 3}
2025-04-12 12:08:57,061 INFO sqlalchemy.engine.Engine ROLLBACK

CREATE TABLE sales_data (
	order_id VARCHAR(10),
	product_id VARCHAR(10),
	product_name VARCHAR(100),
	category VARCHAR(50),
	quantity INTEGER,
	unit_price DECIMAL(10, 2),
	total_price DECIMAL(10, 2),
	order_date DATE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from sales_data table:
order_id	product_id	product_name	category	quantity	unit_price	total_price	order_date
1001	P007	Noise Cancelling Headphones	Audio	1	200.00	200.00	2025-02-28
1002	P002	Laptop 15"	Computers	4	850.00	3400.00	2025-02-11
1003	P004	Gaming Keyboard	Accessories	2	120.00	240.00	2025-02-08
*/To find the top-selling products from last month, I need to query the `sales_data` table for the products sold in the previous month, grouping by product and summing the total sales. I will also order the results by total sales in descending order to get the top-selling products.

First, I will determine the date range for last month. Assuming the current date is in October 2023, last month would be September 2023.

I will construct the query to sum the total sales for each product sold in September 2023.

Action: sql_db_query_checker
Action Input: "SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;"  ```sql
SELECT product_id, product_name, SUM(total_price) AS total_sales
FROM sales_data
WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01'
GROUP BY product_id, product_name
ORDER BY total_sales DESC
LIMIT 10;
```The query is syntactically correct. Now I will execute it to retrieve the top-selling products from last month.

Action: sql_db_query
Action Input: "SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;"  2025-04-12 12:09:03,738 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:09:03,739 INFO sqlalchemy.engine.Engine SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;
2025-04-12 12:09:03,740 INFO sqlalchemy.engine.Engine [generated in 0.00107s] {}
2025-04-12 12:09:03,743 INFO sqlalchemy.engine.Engine COMMIT
Error processing query 'What were the top-selling products last month?': An output parsing error occurred. In order to pass this error back to the agent and have it try again, pass `handle_parsing_errors=True` to the AgentExecutor. This is the error: Could not parse LLM output: `I don't know`
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE

In [23]:
response = run_query(agent, test_query1)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  accounting_transactions, financial_transactions, sales_dataI need to check the schema of the `sales_data` table, as it is likely to contain information about products and their sales.
Action: sql_db_schema
Action Input: "sales_data"  2025-04-12 12:10:12,390 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:10:12,391 INFO sqlalchemy.engine.Engine SELECT sales_data.order_id, sales_data.product_id, sales_data.product_name, sales_data.category, sales_data.quantity, sales_data.unit_price, sales_data.total_price, sales_data.order_date
FROM sales_data
 LIMIT %(param_1)s
2025-04-12 12:10:12,391 INFO sqlalchemy.engine.Engine [cached since 2322s ago] {'param_1': 3}
2025-04-12 12:10:12,393 INFO sqlalchemy.engine.Engine ROLLBACK

CREATE TABLE sales_data (
	order_id VARCHAR(10),
	product_id VARCHAR(10),
	product_name VARCHAR(100),
	category VARCHAR(50),
	quantity INTEGER,
	unit_price DECIMAL(10, 2),
	total_price DECIMAL(10, 2),
	order_date DATE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from sales_data table:
order_id	product_id	product_name	category	quantity	unit_price	total_price	order_date
1001	P007	Noise Cancelling Headphones	Audio	1	200.00	200.00	2025-02-28
1002	P002	Laptop 15"	Computers	4	850.00	3400.00	2025-02-11
1003	P004	Gaming Keyboard	Accessories	2	120.00	240.00	2025-02-08
*/To find the top-selling products from last month, I need to query the `sales_data` table for the products sold in the previous month, grouping by product and summing the total sales. I will also order the results by total sales in descending order to get the top-selling products.

First, I need to determine the date range for last month. Assuming the current date is in October 2023, last month would be September 2023.

I will construct the SQL query accordingly.

Action: sql_db_query_checker
Action Input: "SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;"  ```sql
SELECT product_id, product_name, SUM(total_price) AS total_sales
FROM sales_data
WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01'
GROUP BY product_id, product_name
ORDER BY total_sales DESC
LIMIT 10;
```The query is syntactically correct. Now I will execute it to retrieve the top-selling products from last month.

Action: sql_db_query
Action Input: "SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;"  2025-04-12 12:10:18,892 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:10:18,893 INFO sqlalchemy.engine.Engine SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;
2025-04-12 12:10:18,893 INFO sqlalchemy.engine.Engine [cached since 75.15s ago] {}
2025-04-12 12:10:18,896 INFO sqlalchemy.engine.Engine COMMIT
Error processing query 'What were the top-selling products last month?': An output parsing error occurred. In order to pass this error back to the agent and have it try again, pass `handle_parsing_errors=True` to the AgentExecutor. This is the error: Could not parse LLM output: `I don't know.`
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE

In [24]:
response = run_query(agent, test_query1)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  accounting_transactions, financial_transactions, sales_dataI need to check the schema of the `sales_data` table, as it is likely to contain information about products and their sales.
Action: sql_db_schema
Action Input: "sales_data"  2025-04-12 12:10:28,391 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:10:28,391 INFO sqlalchemy.engine.Engine SELECT sales_data.order_id, sales_data.product_id, sales_data.product_name, sales_data.category, sales_data.quantity, sales_data.unit_price, sales_data.total_price, sales_data.order_date
FROM sales_data
 LIMIT %(param_1)s
2025-04-12 12:10:28,392 INFO sqlalchemy.engine.Engine [cached since 2338s ago] {'param_1': 3}
2025-04-12 12:10:28,393 INFO sqlalchemy.engine.Engine ROLLBACK

CREATE TABLE sales_data (
	order_id VARCHAR(10),
	product_id VARCHAR(10),
	product_name VARCHAR(100),
	category VARCHAR(50),
	quantity INTEGER,
	unit_price DECIMAL(10, 2),
	total_price DECIMAL(10, 2),
	order_date DATE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from sales_data table:
order_id	product_id	product_name	category	quantity	unit_price	total_price	order_date
1001	P007	Noise Cancelling Headphones	Audio	1	200.00	200.00	2025-02-28
1002	P002	Laptop 15"	Computers	4	850.00	3400.00	2025-02-11
1003	P004	Gaming Keyboard	Accessories	2	120.00	240.00	2025-02-08
*/To find the top-selling products from last month, I need to query the `sales_data` table for the products sold in the previous month, grouping by product and summing the total sales. I will also order the results by total sales in descending order to get the top-selling products.

First, I will determine the date range for last month. Assuming the current date is in October 2023, last month would be September 2023.

I will construct the SQL query accordingly.

Action: sql_db_query_checker
Action Input: "SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;"  ```sql
SELECT product_id, product_name, SUM(total_price) AS total_sales
FROM sales_data
WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01'
GROUP BY product_id, product_name
ORDER BY total_sales DESC
LIMIT 10;
```The query is syntactically correct. Now I will execute it to retrieve the top-selling products from last month.

Action: sql_db_query
Action Input: "SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;"  2025-04-12 12:10:35,793 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:10:35,795 INFO sqlalchemy.engine.Engine SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;
2025-04-12 12:10:35,796 INFO sqlalchemy.engine.Engine [cached since 92.06s ago] {}
2025-04-12 12:10:35,798 INFO sqlalchemy.engine.Engine COMMIT
Error processing query 'What were the top-selling products last month?': An output parsing error occurred. In order to pass this error back to the agent and have it try again, pass `handle_parsing_errors=True` to the AgentExecutor. This is the error: Could not parse LLM output: `I don't know`
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE

In [25]:
response = run_query(agent, test_query1)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  accounting_transactions, financial_transactions, sales_dataI need to check the schema of the `sales_data` table, as it is likely to contain information about products and their sales.
Action: sql_db_schema
Action Input: "sales_data"  2025-04-12 12:11:22,124 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:11:22,124 INFO sqlalchemy.engine.Engine SELECT sales_data.order_id, sales_data.product_id, sales_data.product_name, sales_data.category, sales_data.quantity, sales_data.unit_price, sales_data.total_price, sales_data.order_date
FROM sales_data
 LIMIT %(param_1)s
2025-04-12 12:11:22,125 INFO sqlalchemy.engine.Engine [cached since 2392s ago] {'param_1': 3}
2025-04-12 12:11:22,126 INFO sqlalchemy.engine.Engine ROLLBACK

CREATE TABLE sales_data (
	order_id VARCHAR(10),
	product_id VARCHAR(10),
	product_name VARCHAR(100),
	category VARCHAR(50),
	quantity INTEGER,
	unit_price DECIMAL(10, 2),
	total_price DECIMAL(10, 2),
	order_date DATE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from sales_data table:
order_id	product_id	product_name	category	quantity	unit_price	total_price	order_date
1001	P007	Noise Cancelling Headphones	Audio	1	200.00	200.00	2025-02-28
1002	P002	Laptop 15"	Computers	4	850.00	3400.00	2025-02-11
1003	P004	Gaming Keyboard	Accessories	2	120.00	240.00	2025-02-08
*/To find the top-selling products from last month, I need to query the `sales_data` table for the products sold in the previous month, grouping by product and summing the total sales. I will also order the results by total sales in descending order to get the top-selling products.

First, I need to determine the date range for last month. Assuming the current date is in October 2023, last month would be September 2023.

I will construct the SQL query accordingly.

Action: sql_db_query_checker
Action Input: "SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;"  ```sql
SELECT product_id, product_name, SUM(total_price) AS total_sales
FROM sales_data
WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01'
GROUP BY product_id, product_name
ORDER BY total_sales DESC
LIMIT 10;
```The query is syntactically correct. Now I will execute it to retrieve the results.
Action: sql_db_query
Action Input: "SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;"  2025-04-12 12:11:28,471 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:11:28,472 INFO sqlalchemy.engine.Engine SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;
2025-04-12 12:11:28,473 INFO sqlalchemy.engine.Engine [cached since 144.7s ago] {}
2025-04-12 12:11:28,474 INFO sqlalchemy.engine.Engine COMMIT
Error processing query 'What were the top-selling products last month?': An output parsing error occurred. In order to pass this error back to the agent and have it try again, pass `handle_parsing_errors=True` to the AgentExecutor. This is the error: Could not parse LLM output: `I don't know`
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE

In [26]:
response = run_query(agent, test_query1)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  accounting_transactions, financial_transactions, sales_dataI need to check the schema of the `sales_data` table, as it is likely to contain information about products and their sales.
Action: sql_db_schema
Action Input: "sales_data"  2025-04-12 12:11:50,594 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:11:50,595 INFO sqlalchemy.engine.Engine SELECT sales_data.order_id, sales_data.product_id, sales_data.product_name, sales_data.category, sales_data.quantity, sales_data.unit_price, sales_data.total_price, sales_data.order_date
FROM sales_data
 LIMIT %(param_1)s
2025-04-12 12:11:50,596 INFO sqlalchemy.engine.Engine [cached since 2420s ago] {'param_1': 3}
2025-04-12 12:11:50,598 INFO sqlalchemy.engine.Engine ROLLBACK

CREATE TABLE sales_data (
	order_id VARCHAR(10),
	product_id VARCHAR(10),
	product_name VARCHAR(100),
	category VARCHAR(50),
	quantity INTEGER,
	unit_price DECIMAL(10, 2),
	total_price DECIMAL(10, 2),
	order_date DATE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from sales_data table:
order_id	product_id	product_name	category	quantity	unit_price	total_price	order_date
1001	P007	Noise Cancelling Headphones	Audio	1	200.00	200.00	2025-02-28
1002	P002	Laptop 15"	Computers	4	850.00	3400.00	2025-02-11
1003	P004	Gaming Keyboard	Accessories	2	120.00	240.00	2025-02-08
*/To find the top-selling products from last month, I need to query the `sales_data` table for the products sold in the previous month, grouping by product and summing the total sales. I will also order the results by total sales in descending order to get the top-selling products.

First, I will construct the query to get the top-selling products for the last month.

Action: sql_db_query_checker
Action Input: "SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AND order_date < CURDATE() GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;"  ```sql
SELECT product_id, product_name, SUM(total_price) AS total_sales
FROM sales_data
WHERE order_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
  AND order_date < CURDATE()
GROUP BY product_id, product_name
ORDER BY total_sales DESC
LIMIT 10;
```The query is syntactically correct. Now I will execute it to retrieve the results.

Action: sql_db_query
Action Input: "SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AND order_date < CURDATE() GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;"  2025-04-12 12:11:55,943 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:11:55,943 INFO sqlalchemy.engine.Engine SELECT product_id, product_name, SUM(total_price) AS total_sales FROM sales_data WHERE order_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH) AND order_date < CURDATE() GROUP BY product_id, product_name ORDER BY total_sales DESC LIMIT 10;
2025-04-12 12:11:55,944 INFO sqlalchemy.engine.Engine [cached since 1973s ago] {}
2025-04-12 12:11:55,946 INFO sqlalchemy.engine.Engine COMMIT
[('P002', 'Laptop 15"', Decimal('8500.00')), ('P005', 'Monitor 27"', Decimal('4200.00')), ('P007', 'Noise Cancelling Headphones', Decimal('2400.00')), ('P006', 'External SSD 1TB', Decimal('900.00')), ('P003', 'USB-C Hub', Decimal('280.00')), ('P001', 'Wireless Mouse', Decimal('275.00')), ('P004', 'Gaming Keyboard', Decimal('240.00'))]I now know the final answer. The top-selling products last month were:

1. Laptop 15" - $8500.00
2. Monitor 27" - $4200.00
3. Noise Cancelling Headphones - $2400.00
4. External SSD 1TB - $900.00
5. USB-C Hub - $280.00
6. Wireless Mouse - $275.00
7. Gaming Keyboard - $240.00

Final Answer: The top-selling products last month were: Laptop 15" ($8500.00), Monitor 27" ($4200.00), Noise Cancelling Headphones ($2400.00), External SSD 1TB ($900.00), USB-C Hub ($280.00), Wireless Mouse ($275.00), and Gaming Keyboard ($240.00).

> Finished chain.
Here's what I found for 'What were the top-selling products last month?':
The top-selling products last month were: Laptop 15" ($8500.00), Monitor 27" ($4200.00), Noise Cancelling Headphones ($2400.00), External SSD 1TB ($900.00), USB-C Hub ($280.00), Wireless Mouse ($275.00), and Gaming Keyboard ($240.00).

# test query 2

In [27]:
response = run_query(agent, test_query2)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  accounting_transactions, financial_transactions, sales_dataI should check the schema of the `sales_data` table, as it is likely to contain the monthly sales information I need for the line chart.
Action: sql_db_schema
Action Input: "sales_data"  2025-04-12 12:14:06,399 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:14:06,400 INFO sqlalchemy.engine.Engine SELECT sales_data.order_id, sales_data.product_id, sales_data.product_name, sales_data.category, sales_data.quantity, sales_data.unit_price, sales_data.total_price, sales_data.order_date
FROM sales_data
 LIMIT %(param_1)s
2025-04-12 12:14:06,400 INFO sqlalchemy.engine.Engine [cached since 2556s ago] {'param_1': 3}
2025-04-12 12:14:06,402 INFO sqlalchemy.engine.Engine ROLLBACK

CREATE TABLE sales_data (
	order_id VARCHAR(10),
	product_id VARCHAR(10),
	product_name VARCHAR(100),
	category VARCHAR(50),
	quantity INTEGER,
	unit_price DECIMAL(10, 2),
	total_price DECIMAL(10, 2),
	order_date DATE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from sales_data table:
order_id	product_id	product_name	category	quantity	unit_price	total_price	order_date
1001	P007	Noise Cancelling Headphones	Audio	1	200.00	200.00	2025-02-28
1002	P002	Laptop 15"	Computers	4	850.00	3400.00	2025-02-11
1003	P004	Gaming Keyboard	Accessories	2	120.00	240.00	2025-02-08
*/To plot a line chart of monthly sales data, I need to aggregate the sales data by month. I will query the `sales_data` table to get the total sales for each month. The relevant columns for this query will be the `total_price` and `order_date`. I will group the results by month and year.

Action: sql_db_query_checker
Action Input: "SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, SUM(total_price) AS total_sales FROM sales_data GROUP BY month ORDER BY month LIMIT 10;"  ```sql
SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, SUM(total_price) AS total_sales FROM sales_data GROUP BY month ORDER BY month LIMIT 10;
```The query is syntactically correct. Now I will execute it to retrieve the monthly sales data.

Action: sql_db_query
Action Input: "SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, SUM(total_price) AS total_sales FROM sales_data GROUP BY month ORDER BY month LIMIT 10;"  2025-04-12 12:14:10,757 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-12 12:14:10,758 INFO sqlalchemy.engine.Engine SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, SUM(total_price) AS total_sales FROM sales_data GROUP BY month ORDER BY month LIMIT 10;
2025-04-12 12:14:10,759 INFO sqlalchemy.engine.Engine [generated in 0.00077s] {}
2025-04-12 12:14:10,762 INFO sqlalchemy.engine.Engine COMMIT
[('2025-01', Decimal('22920.00')), ('2025-02', Decimal('22405.00')), ('2025-03', Decimal('24145.00'))]I now know the final answer. The monthly sales data is as follows:

- January 2025: $22,920.00
- February 2025: $22,405.00
- March 2025: $24,145.00

Final Answer: The monthly sales data is:
- January 2025: $22,920.00
- February 2025: $22,405.00
- March 2025: $24,145.00

> Finished chain.
Here's what I found for 'Plot a line chart of the monthly sales data.':
The monthly sales data is:
- January 2025: $22,920.00
- February 2025: $22,405.00
- March 2025: $24,145.00