# Demo 1 - LLM Current Time
The issue here is that asking for last month's data doesn't always work since the LLM thinks it's 2023.

In [3]:
from sql_agent import initialize_db_connection, get_sql_database, initialize_llm, create_agent as create_sql_agent, run_query

engine, session = initialize_db_connection()
db = get_sql_database(engine)
llm = initialize_llm()
agent = create_sql_agent(db, llm)

Database connection established!
2025-04-13 08:20:48,315 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-04-13 08:20:48,315 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-13 08:20:48,319 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-04-13 08:20:48,319 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-13 08:20:48,321 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-04-13 08:20:48,321 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-13 08:20:48,323 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-13 08:20:48,324 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `finquery`
2025-04-13 08:20:48,325 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-13 08:20:48,344 INFO sqlalchemy.engine.Engine ROLLBACK
2025-04-13 08:20:48,348 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-13 08:20:48,349 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `finquery`
2025-04-13 08:20:48,351 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-13 08:20:48,364 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `accounting_transactions`
2025-04-13 08:20:48,365 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-13 08:20:48,371 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `financial_transactions`
2025-04-13 08:20:48,372 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-13 08:20:48,377 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `sales_data`
2025-04-13 08:20:48,377 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-13 08:20:48,382 INFO sqlalchemy.engine.Engine ROLLBACK
LangChain SQLDatabase initialized!
OpenAI LLM initialized!
SQL Agent created successfully!

In [4]:
test_query1 = "What were the top-selling products last month?"

## LLM date confusion
Note that a reasoning step says `First, I need to determine the date range for last month. Assuming the current date is in October 2023, last month would be September 2023.`

In [5]:
response = run_query(agent, test_query1)
print(response)

sql_agent.run_query: query='What were the top-selling products last month?'


> Entering new SQL Agent Executor chain...

/Users/ericmelz/Data/code/finquery/notebooks/sql_agent.py:83: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use :meth:`~invoke` instead.
  response = agent.run(query)

Action: sql_db_list_tables
Action Input: ""  accounting_transactions, financial_transactions, sales_dataI need to check the schema of the `sales_data` table, as it is likely to contain information about products and their sales.
Action: sql_db_schema
Action Input: "sales_data"  2025-04-13 08:21:01,506 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-13 08:21:01,507 INFO sqlalchemy.engine.Engine SELECT sales_data.order_id, sales_data.product_id, sales_data.product_name, sales_data.category, sales_data.quantity, sales_data.unit_price, sales_data.total_price, sales_data.order_date
FROM sales_data
 LIMIT %(param_1)s
2025-04-13 08:21:01,507 INFO sqlalchemy.engine.Engine [generated in 0.00128s] {'param_1': 3}
2025-04-13 08:21:01,511 INFO sqlalchemy.engine.Engine ROLLBACK

CREATE TABLE sales_data (
	order_id VARCHAR(10),
	product_id VARCHAR(10),
	product_name VARCHAR(100),
	category VARCHAR(50),
	quantity INTEGER,
	unit_price DECIMAL(10, 2),
	total_price DECIMAL(10, 2),
	order_date DATE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from sales_data table:
order_id	product_id	product_name	category	quantity	unit_price	total_price	order_date
1001	P007	Noise Cancelling Headphones	Audio	1	200.00	200.00	2025-02-28
1002	P002	Laptop 15"	Computers	4	850.00	3400.00	2025-02-11
1003	P004	Gaming Keyboard	Accessories	2	120.00	240.00	2025-02-08
*/To find the top-selling products from last month, I need to query the `sales_data` table for the products sold in the previous month and aggregate the sales by product. I will sum the `quantity` and order the results by the total quantity sold.

First, I need to determine the date range for last month. Assuming the current date is in October 2023, last month would be September 2023.

I will construct the query to sum the quantity sold for each product in September 2023 and order the results by the total quantity sold in descending order.

Action: sql_db_query_checker
Action Input: "SELECT product_id, product_name, SUM(quantity) AS total_quantity FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_quantity DESC LIMIT 10;"  ```sql
SELECT product_id, product_name, SUM(quantity) AS total_quantity
FROM sales_data
WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01'
GROUP BY product_id, product_name
ORDER BY total_quantity DESC
LIMIT 10;
```The query is syntactically correct. Now I will execute it to retrieve the top-selling products from last month.

Action: sql_db_query
Action Input: "SELECT product_id, product_name, SUM(quantity) AS total_quantity FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_quantity DESC LIMIT 10;"  2025-04-13 08:21:10,552 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-13 08:21:10,553 INFO sqlalchemy.engine.Engine SELECT product_id, product_name, SUM(quantity) AS total_quantity FROM sales_data WHERE order_date >= '2023-09-01' AND order_date < '2023-10-01' GROUP BY product_id, product_name ORDER BY total_quantity DESC LIMIT 10;
2025-04-13 08:21:10,554 INFO sqlalchemy.engine.Engine [generated in 0.00094s] {}
2025-04-13 08:21:10,561 INFO sqlalchemy.engine.Engine COMMIT
Error processing query 'What were the top-selling products last month?': An output parsing error occurred. In order to pass this error back to the agent and have it try again, pass `handle_parsing_errors=True` to the AgentExecutor. This is the error: Could not parse LLM output: `I don't know.`
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE