# DB Demo 2
Like DB Demo, but refactored and (hopefully) shorter

In [5]:
from sql_agent2 import DBAgent
from IPython.display import Markdown, display

In [2]:
sql_agent = DBAgent()

Database connection established!
LangChain SQLDatabase initialized!

In [3]:
test_question1 = "What were the top-selling products last month?"
test_question2 = "Plot a line chart of the monthly sales data."
test_question3 = "What were the top-selling products of all time?"
test_question4 = 'What is the minimum sale amount?'
questions = [test_question1, test_question2, test_question3, test_question4]

In [6]:
for question in questions:
    print(f'Question:', question)
    sql = sql_agent.generate_sql(question)
    print(f'---\n{sql}\n---')
    display(Markdown(sql_agent.exec_and_render(sql)))
    print()

Question: What were the top-selling products last month?
---
SELECT product_name, SUM(quantity) AS total_quantity FROM sales_data WHERE MONTH(order_date) = MONTH(CURRENT_DATE() - INTERVAL 1 MONTH) AND YEAR(order_date) = YEAR(CURRENT_DATE()) GROUP BY product_name ORDER BY total_quantity DESC LIMIT 10;
---

|    | product_name                |   total_quantity |
|---:|:----------------------------|-----------------:|
|  0 | Noise Cancelling Headphones |               18 |
|  1 | Monitor 27"                 |               17 |
|  2 | Laptop 15"                  |               15 |
|  3 | Wireless Mouse              |               11 |
|  4 | USB-C Hub                   |               11 |

Question: Plot a line chart of the monthly sales data.
---
SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, SUM(total_price) AS total_sales FROM sales_data GROUP BY month ORDER BY month
---

|    | month   |   total_sales |
|---:|:--------|--------------:|
|  0 | 2025-01 |         22920 |
|  1 | 2025-02 |         22405 |
|  2 | 2025-03 |         24145 |

Question: What were the top-selling products of all time?
---
SELECT product_name, SUM(quantity) AS total_sold FROM sales_data GROUP BY product_name ORDER BY total_sold DESC LIMIT 10
---

|    | product_name                |   total_sold |
|---:|:----------------------------|-------------:|
|  0 | Monitor 27"                 |           52 |
|  1 | External SSD 1TB            |           44 |
|  2 | Noise Cancelling Headphones |           43 |
|  3 | USB-C Hub                   |           41 |
|  4 | Laptop 15"                  |           38 |

Question: What is the minimum sale amount?
---
SELECT MIN(total_price) AS min_sale_amount FROM sales_data
---

|    |   min_sale_amount |
|---:|------------------:|
|  0 |                25 |